.mainContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1rem 3rem;
}
.mealDetails {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.amount_and_add {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: flex-end;
}
